@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Glegoo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
.image {
  background: linear-gradient(0deg, rgba(43, 81, 69, 0.95), rgba(43, 81, 69, 0.95)), url("../assets/Brainstem for portfolio.jpg");
  background-size: cover;
}

.meimage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.me {
  border-radius: 50%;
  border: 10px solid #D96D2B;
  -o-object-fit: contain;
     object-fit: contain;
  width: 525px;
  height: 525px;
  margin-bottom: 30px;
  margin-top: 60px;
}
@media (max-width: 430px) {
  .me {
    -o-object-fit: contain;
       object-fit: contain;
    width: 400px;
    height: 400px;
    margin-top: 10px;
  }
}

.aboutimage {
  background: linear-gradient(0deg, rgba(43, 81, 69, 0.95), rgba(43, 81, 69, 0.95)), url("../assets/DNA_pic.jpg");
  background-size: cover;
  max-width: 100%;
}

.portfoliocontainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 430px) {
  .portfoliocontainer {
    flex-direction: column;
    padding: 5px 0px 0px 0px;
  }
}

.portfolioimage {
  -o-object-fit: contain;
     object-fit: contain;
  width: 410px;
  height: 231px;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width: 430px) {
  .portfolioimage {
    border-radius: 0px;
    -o-object-fit: fill;
       object-fit: fill;
    width: 430px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #2B5145;
}

.Logo {
  color: #ffdbed;
  font-family: "Glegoo", serif;
  letter-spacing: 3px;
  text-align: center;
}

.Header {
  color: #ffdbed;
  font-family: "Glegoo", serif;
  letter-spacing: 3px;
}
@media (max-width: 430px) {
  .Header {
    font-size: 1.75em;
  }
}

.line {
  margin-bottom: 15px;
}

.Menu {
  font-family: "DM Sans", sans-serif;
  color: #fff0f8;
  background-color: #D96D2B;
  padding: 3px 10px;
  text-decoration: none;
  border-radius: 15px;
}
@media (max-width: 430px) {
  .Menu {
    padding: 8px 15px;
    margin: 5px;
  }
}

.Menu:hover {
  font-size: large;
  background-color: #2B5145;
  text-decoration: underline;
}

.headerlinks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 430px) {
  .headerlinks {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
  }
}

#contactheader {
  text-align: center;
}

#portfolioheader {
  text-align: center;
}

.Homepage_Intro {
  display: flex;
  align-items: center;
}
@media (max-width: 430px) {
  .Homepage_Intro {
    display: flex;
    flex-direction: column;
  }
}

.Job {
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-style: none solid none none;
  border-color: white;
  width: 50%;
  box-sizing: border-box;
}
@media (max-width: 430px) {
  .Job {
    padding: 10px;
    width: 430px;
    display: flex;
    justify-content: center;
  }
}

.JobTitle {
  color: #fff0f8;
  font-family: "Glegoo", serif;
  font-size: 30px;
}
@media (max-width: 430px) {
  .JobTitle {
    text-align: center;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: none none dashed none;
  }
}

.Quote {
  color: #fff0f8;
  font-family: "Glegoo", serif;
  text-align: center;
}
@media (max-width: 430px) {
  .Quote {
    font-size: 16px;
    -o-object-fit: contain;
       object-fit: contain;
    height: 125px;
    width: 350px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 5px;
  }
}

#quoteattribute {
  text-align: right;
  padding-right: 100px;
}
@media (max-width: 430px) {
  #quoteattribute {
    display: none;
  }
}

.aboutheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 40px;
}
@media (max-width: 430px) {
  .aboutheader {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.aboutlogo {
  color: #ffdbed;
  font-family: "Glegoo", serif;
  letter-spacing: 3px;
  text-align: left;
}
@media (max-width: 430px) {
  .aboutlogo {
    text-align: center;
    border-bottom: 1px solid white;
  }
}

.aboutmenu {
  font-family: "DM Sans", sans-serif;
  color: #fff0f8;
  padding: 3px 10px;
  text-decoration: none;
}

.aboutmenu:hover {
  font-size: large;
  text-decoration: underline;
}

@media (max-width: 430px) {
  .aboutmenuresponsive {
    margin-top: 10px;
  }
}

.Aboutmecontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 20px;
}
@media (max-width: 430px) {
  .Aboutmecontainer {
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
}

.aboutbio {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  color: #fff0f8;
  font-size: 24px;
  font-weight: 100;
  display: flex;
  flex: 1;
}
@media (max-width: 430px) {
  .aboutbio {
    font-size: 16px;
    text-align: justify;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.aboutContactCont {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.aboutcontact {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  color: #fff0f8;
  background-color: #D96D2B;
  padding: 3px 10px;
  text-decoration: none;
  border-radius: 15px;
  max-width: 180px;
  margin-bottom: 10px;
}
@media (max-width: 430px) {
  .aboutcontact {
    padding: 10px;
    margin-top: px;
    margin-bottom: 20px;
  }
}

#cv {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  color: #fff0f8;
  background-color: #D96D2B;
  padding: 3px 10px;
  text-decoration: none;
  border-radius: 15px;
  max-width: 180px;
  margin-bottom: 10px;
}

@media (max-width: 430px) {
  .degreescontainer {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.aboutdegrees {
  color: #fff0f8;
  font-family: "Glegoo", serif;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media (max-width: 430px) {
  .aboutdegrees {
    display: none;
  }
}

.Contactcontainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 430px) {
  .Contactcontainer {
    flex-direction: column;
    align-items: center;
  }
}

.phone {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.twitter {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.email {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.linkedin {
  width: 30px;
  height: 30px;
  text-decoration: none;
}

.Contact {
  color: #fff0f8;
  font-family: "Glegoo", serif;
  margin-left: 10px;
  text-decoration: none;
}

.emailicon {
  width: 30px;
  height: 30px;
}

.phoneicon {
  width: 30px;
  height: 30px;
}

.twittericon {
  width: 30px;
  height: 30px;
}

.linkedinicon {
  width: 30px;
  height: 30px;
}/*# sourceMappingURL=styles.css.map */