.image {
background: linear-gradient(0deg,rgba(43, 81, 69, .95), rgba(43, 81, 69, .95)), url("../assets/Brainstem for portfolio.jpg");
background-size: cover;
}

.meimage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.me {
border-radius: 50%;
border: 10px solid #D96D2B;
object-fit: contain;
width: 525px;
height: 525px;
margin-bottom: 30px;
margin-top: 60px;
@media (max-width: 430px) { 
    object-fit: contain;
    width: 400px;
    height: 400px;
    margin-top: 10px;
}
}

.aboutimage {
    background: linear-gradient(0deg,rgba(43, 81, 69, .95), rgba(43, 81, 69, .95)), url("../assets/DNA_pic.jpg");
background-size: cover;
max-width: 100%;
}

.portfoliocontainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    @media (max-width: 430px) { 
        flex-direction: column;
        padding: 5px 0px 0px 0px;
    }
}

.portfolioimage {
    object-fit: contain;
    width: 410px;
    height: 231px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    @media (max-width: 430px) { 
        border-radius: 0px;
        object-fit: fill;
        width: 430px;

    }
}